
// ------------------------------
// Display
// ------------------------------

$display: (
  'block': block,
  'inline': inline,
  'inline-block': inline-block,
  'flex': flex,
  'inline-flex': inline-flex,
  'table': table,
  'none': none
);

@each $display, $value in $display {
    .d-#{$display} {
      display: $value
    }
  }
  

$opacity: (
  0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100
  );

// 

@each $opacity in $opacity {
  .o-#{$opacity} {
    opacity: $opacity / 100;
  }
}