// ------------------------------
// Color
// ------------------------------

$colors: (
  // Neutral
  'white': #FFFFFF,
  'grey-10': #e7e7e7,
  'grey-40' : #37352f14,
  'grey-30': #0f0f0f1a,
  'grey-20': #37352fa6,
  'grey-80': #37352f,
  'grey-90': #1A1A1A,
  'black': #000000,
  'vilot': #6234ee,
  'red': #D0021B,
  'blue': #2382e2,
  'transparent': transparent
);

@each $color, $value in $colors {
    .c-#{$color} {
      color: $value;
    }
    .hover\:bg-#{$color} {
      &:hover {
        background-color:  $value;
      }
    }
    .bg-#{$color} {
      background-color:  $value;
    }
    .bc-#{$color} {
      border-color: $value;

    }
}
